altcha==2.0.0
asgiref==3.9.1
backports-datetime-fromisoformat==2.0.3
certifi==2026.2.25
charset-normalizer==3.4.7
Django==5.2.5
django-requests==0.0.2
environs==14.3.0
idna==3.11
marshmallow==4.0.1
mysqlclient==2.2.8
pillow==12.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.33.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.6.3
